/*
oh god this is horrific
*/
body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(58, 38, 58);
    color:white;
}
.topbar {
    background-color: rgb(113, 66, 106);
    border: solid 1.5px #401945;
    text-align: center;
}
.sitename, .sitename:visited{
    color:white;
    text-decoration: none;
}
.sitename:hover{
    text-decoration: underline;
}
.randomtext {
    margin-top: -0.8%;
}
.index-content {
    display: grid;
    grid-template-columns: 12% 60% 1fr;
}
.site-content {
    display: grid;
    grid-template-columns: 12% 1fr;
}
.sidebar {
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: large;
    background-color: #3b233f;
    border: solid 1.5px #170919;
}
.menubutton, .menubutton:visited {
    display:block;
    color:rgb(241, 138, 252);
    text-decoration: none;
    text-align: center;
    align-content: center;
    height:40px;
    background-color: #3b233f;
    font-size: larger;
}

.menubutton:hover {
    background-color: #8b5694;
}
.maintext {
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: fit-content;
    background-color: #3b233f;
    border: solid 1.5px #170919;
}
.rightbar {
    display:grid;
    grid-template-rows: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.latest-blogs {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
    background-color: #3b233f;
    border: solid 1.5px #170919;
}
.changelog {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #3b233f;
    border: solid 1.5px #170919;
}
.blogentry{
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #3b233f;
    border: solid 1.5px #170919;
}
a:link{
    color:rgb(68, 145, 189)
}
a:visited{
    color: #977df6;
}